
body{
    font-family: var(--default-font);
}



.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.menu__sidebar {
    background-color: var(--primary-color);
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.menu__sidebar .logo {
    background-color: var(--primary-color);
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.menu__sidebar .logo img {
    width: 80px;
}

.sidebar nav ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

.sidebar nav ul li {
    padding: 10px 0;
}

.sidebar nav ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.libary {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 14px;
    border-radius: 8px;
    padding: 4px 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 10px;
}

.libary__content {
    display: flex;
    justify-content: space-between;
}

.library__button {
    margin-right: 10px;
    color: var(--secondary-color);
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
    display: flex;
    cursor: pointer;
}

.library__button .fa {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
    padding-right: 8px;
}

.fa-plus {
    margin: 24px 10px;
    cursor: pointer;
}

.playlist {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    background-color: #242424;
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0;
    padding: 16px 20px;
    border-radius: 10px;
}

.playlist__content {
    display: flex;
    flex-direction: column;
}

.playlist__content .text {
    padding-bottom: 14px;
    color: #fff;
}

.playlist__content .title {
    font-weight: 700;
}

.playlist__content .subtitle {
    font-size: 12px;
    font-weight: 500;
}

.playlist__content .playlist__button {
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    border: none;
    padding: 10px;
    margin-top: 12px;
    width: 113px;
    cursor: pointer;
}

.playlist__button--podcasts{
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    border: none;
    padding: 10px;
    margin-top: 12px;
    width: 150px;
    cursor: pointer;
}

.sidebar .cookies{
    margin: 25px 20px;
}

.sidebar .cookies a{
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
}

.cookies__itens{
    display: flex;
    flex-wrap: wrap;
    gap: .3em;
}


.sidebar .cookies a:hover{
    text-decoration: underline;
}

.languages .languages__button{
    background-color: transparent;
    border: 1px solid #878787;
    border-radius: 20px;
    color: #fff;
    font-weight: 700;
    width: 170px;
    margin: 8px;
    padding: 8px;
    cursor: pointer;
    align-items: center;
}


/* footer */
.rodape{
    background-image: linear-gradient(90deg, #af2896, #509bf5);
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.rodape__text{
    display: flex;
    flex-direction: column;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
}

.rodape__text .rodape__text--inscrever{
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    margin-bottom: .5em;
}

.rodape__button{
    background-color: #fff;
    color: #000;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    padding: 14px 30px;
    flex-shrink: 0;
    cursor: pointer;
}